/* Default classes */

html {
  scroll-behavior: smooth;
}

body {
  /* Remove the white band that would be there */
  font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
} 


nav {
  margin-top: 2%;
  color: white;
}

/* Navbar */
nav a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #001489;
}

.index-title {
  text-align: center;
  padding-top: 35px;
  font-size: 40px;
  color: #001489;
}

.section-heading {
  font-size: 20px;
  font-style: bold;
}

.container {
  /* margin: 0 10%; */
  /* width: auto; */
  margin: 0 20%;
}


/* 
.references {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

.refs {
  list-style-type: disc;
  padding-left: 1em;
  margin-top: 0.25em;
}

/* Style the paragraph elements */
p {
  line-height: 1.25;
}

/* Style the links */
a {
  color: #2d54d4;
  text-decoration: none;
  font-size: 16px;
} 

flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#content
{
    border: 3px solid #971111;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DDD;
    padding-top: 85px;
}


.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.full-page h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.full-page p {
  margin-bottom: 0;
}

#navbar {
  position: fixed;
  top: -5%;
  left: 0;
  width: 100%;
  padding-top: 1%;
  background-color: #ffffff;
  z-index: 2;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 4%
}

#navbar li {
  margin: 0 5px;
  padding: 10px;
}

#navbar li a {
  display: block;
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color:#00000000
}

#navbar ul li .hidden-hover:hover {
  color: rgba(0, 128, 0, 0);
}

.social-media img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.project {
  display: flex;
  align-items: center;
}

img {
  width: 25%;
  height: auto;
  margin-right: 25px;
}

.text-container {
  width: 75%;
}
