<h2 style="text-align: center;"> Publications </h2>
<h3> Journals </h3>
<p>
S. Thomas, K. Workneh, A-T. Ishimwe, Zack McKevitt, <b>P.Curlin</b>, R.I. Bahar, J. Izraelevitz, T. Lehman, "Baobab Merkle Tree for Efficient Secure Memory," in IEEE Computer Architecture Letters, vol. 23, no. 1, pp. 33-36, Jan.-June 2024, doi: 10.1109/LCA.2024.3360709.
</p>
<h3> Extended Abstracts </h3>
<p>
<b>P.Curlin</b>, M. Muniz, M. Bell, A. Muniz, J. Burns, "Virtual Reality Digital Twin and Environment for Troubleshooting Lunar-based Infrastructure Assembly Failures," in 5th International Workshop on Virtual, Augmented, and Mixed Reality for HRI, March 2022.
</p>