<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
        <div style="text-align: center;">
          <img src="{{site.logo | relative_url}}" alt="Curlin" style="width: 70%;" />
        </div>
        {% endif %}

        <!-- Add content from a page -->
        {{ site.description }}

        <!-- Add social links -->
        <style>
          .social-icon {
            width: 30px;
            height: 30px;
            margin: 0 10px;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
            transition: filter 0.3s;
          }
        </style>
        <div style="text-align: center; margin-top: 20px;">
          <a href="https://github.com/{{ site.social.github }}" target="_blank" class="social-link">
            <img src="/assets/icon/github.png" alt="GitHub" class="social-icon">
          </a>
          <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" class="social-link">
            <img src="/assets/icon/li.png" alt="LinkedIn" class="social-icon">
          </a>
        </div>
          
      </header>
      <section>

        <h1 style="text-align: left;"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {{ content }}

      </section>
      <footer>
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
