{{ $type := .Get "type" | default "project" }}
{{ $dir := .Get "dir" | default "past-work" }}

{{/* Get all pages in the given directory */}}
{{ $pagesInDir := where .Site.RegularPages "File.Dir" "eq" (printf "%s/" $dir) }}

{{/* Filter pages by custom param 'type' */}}
{{ $matches := where $pagesInDir "Params.type" "eq" $type }}

<div style="margin: 1.05rem 0;">
  <div class="project-grid">
    {{ range sort $matches "Params.start" "desc" }}
      <a href="{{ .RelPermalink }}" class="project-card">
        <img src="{{ .Params.tile }}" alt="{{ .Title }}" />
        <div class="project-overlay">
          <div>
            <h3>{{ .Title }}</h3>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
</div>