{{ $title := .Get "title" }}
{{ $authors := .Get "authors" }}
{{ $venue := .Get "venue" }}
{{ $location := .Get "location" }}
{{ $date := .Get "date" }}
{{ $type := .Get "type" | default "CONFERENCE" }}

<div class="pub-entry">
    <div class="pub-title">
        {{ $title }}
    </div>
    <div class="pub-authors">
        {{ $authors | markdownify }}
    </div>
    <div class="pub-venue">
        <em>{{ $venue }}</em>{{ if $location }}, {{ $location }}{{ end }}{{ if $date }}, {{ $date }}{{ end }}.
    </div>
    {{ if .Inner }}
        <div class="pub-links">
            {{ .Inner }}
        </div>
    {{ end }}
</div>