a[href="/abstracts/"]:hover {
  text-decoration: underline;
}

h3 {
  margin-bottom: 0.5rem;
}

.pub-links a {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.2;
  filter: brightness(1.5); /* Always bright */
}

.pub-links a:hover {
  color: #156dab !important;
  filter: none; /* Remove brightness on hover */

}

.pub-links svg {
  margin-right: 0.3em;
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: bottom;
}

.pub-links  a:hover svg {
  stroke-width: 3;
}

.publication-info .entry-content {
  -webkit-line-clamp: unset !important;
  overflow: visible !important;
  display: block !important;
  white-space: normal !important;
  text-overflow: unset !important;
}

.main {
    max-width: calc(var(--main-width) + var(--gap) * 3.5) !important;
}

.social-icons a:hover svg,
.social-icons a:focus svg {
  filter: invert(0.35);
  transition: filter 0.2s;
}

.more-link a {
  font-size: 16px;
  text-decoration: none;
  transition: text-decoration 0.2s;
}
.more-link a:hover {
  text-decoration: underline;
}

/* Home-info */

.home-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 0.5);
}

.home-info > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 40rem) {
  .home-info > div {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
  .home-info img {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .home-info .entry-content {
      margin-top: -3rem;
  }

  .home-info {
    margin-bottom: 2rem;
  }

}

.home-info .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.home-info .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.home-info .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.home-info .entry-footer {
    font-size: 14px;
}

.home-info .entry-content a:hover,
.about-links a:hover {
  text-decoration: underline;
}

/* Post-entry */

.entry, .entry * {
  text-overflow: unset !important;
  overflow: visible !important;
  -webkit-line-clamp: unset !important;
}

.entry-content div[style*="display:flex"] {
  -webkit-line-clamp: unset !important;
  overflow: visible !important;
  text-overflow: unset !important;
  white-space: normal !important; 
}

.entry-content div[style*="display:flex"] a {
  min-width: 0 !important;
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  
}

/* Better bullet alignment */
.entry-content ul,
.entry-content ol,
.post-content ul,
.post-content ol {
  padding-left: 1rem;
}

.entry-content a:hover {
  text-decoration: underline;
}

b,
strong {
  /* color: #156dab; */
}

/* Blue for About Me hyperlinks */
.home-info .entry-content a,
.about-links a {
  color: #156dab;
  text-decoration: none;
  transition: text-decoration 0.2s, color 0.2s;
}

.home-info .entry-content a:hover,
.about-links a:hover {
  text-decoration: underline;
  color: #0d3e6e;
}

header.header a:hover,
nav.nav a:hover {
  color: #156dab;
}

.breadcrumbs a:hover {
  text-decoration: underline !important;
}

@media (max-width: 40rem) {
  h1, .content h1, .post-title {
    margin-top: 1rem;
  }
}
@media (max-width: 40rem) {
  .home-info .entry-content {
    margin: -3rem 0 0 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
  }
}


